<%- include('../partials/head') %>
<%- include('../partials/header') %>

<!-- Formulario de eliminación   de producto-->

<h3 class="delete-form-title">Datos del producto a eliminar</h3>


<form method="POST" action="/products?_method=DELETE" enctype="multipart/form-data">
    <div class="delete-product-form-div">
        <input type="text" class="delete-product-form-input" name="item" placeholder="Código del producto" class="form-input" value = "<%= product.item %>" readonly>
    </div>
    <div class="delete-product-form-div">
        <input type="text" name="description" placeholder="Descripción"  class="delete-product-form-input" value = "<%= product.description %>">
    </div>
    <div class="delete-product-form-div">
        <select name="category"  class="delete-product-form-input" >
            <option <% if (product.category == 'chops') { %>
                selected
            <% } %> value="chops">Chops</option>
            <option <% if (product.category == 'copas') { %>
                selected
            <% } %> value="copas">Copas</option>
            <option <% if (product.category == 'jarras') { %>
                selected
            <% } %>  value="jarras">Jarras</option>
            <option <% if (product.category == 'tazas') { %>
                selected
            <% } %>  value="tazas">Tazas</option>
            <option <% if (product.category == 'vajilla') { %>
                selected
            <% } %> value="vajilla">Vajilla</option>
            <option <% if (product.category == 'vasos') { %>
                selected
            <% } %> value="vasos">Vasos</option>
        </select>
    </div>
    <div class="delete-product-form-div">
        <input type="number" class="delete-product-form-input" name="price" placeholder="Precio (AR$)" value = "<%= product.price %>">
    </div>
    <div class="delete-product-form-div">
        <input type="number" name="discount" placeholder="Descuento (%) " class="delete-product-form-input" value = "<%= product.discount *100%>">
    </div>

    <div class="delete-product-form-div">
        <input type="number" name="stock" placeholder="Stock (unidades)" class="delete-product-form-input" value = "<%= product.stock %>">
    </div>

    <div class="delete-product-form-div">
    <img src="/images/productos/<%= product.image %>" alt="<%= product.image %>" class="edit-product-form-image">
    </div>

    <div class="delete-product-form-buttons">
        <button type="submit" class="delete-product-form-button">Eliminar producto</button>
    </div>
</form>

<%- include('../partials/linkWhatsApp') %>
<%- include('../partials/footer') %>