<%- include('../partials/head') %>
<%- include('../partials/header') %>

<!-- Formulario de eliminación   de producto-->

<h3 class="delete-form-title">Datos del producto a eliminar</h3>


<form method="POST" action="/products?_method=DELETE" enctype="multipart/form-data">
    <div class="delete-product-form-div">
        <input type="text" class="delete-product-form-input" name="item" placeholder="Código del producto" class="form-input" value = "<%= product.product_name %>" readonly>
    </div>
    <div class="delete-product-form-div">
        <input type="text" name="description" placeholder="Descripción"  class="delete-product-form-input" value = "<%= product.product_description %>" readonly>
    </div>

    <div class="delete-product-form-div">
        <input type="text" name="category" placeholder="Categoría"  class="delete-product-form-input" value = "<%= product.product_category.product_category_name %>" readonly>
    </div>
    <div class="delete-product-form-div">
        <input type="number" class="delete-product-form-input" name="price" placeholder="Precio (AR$)" value = "<%= product.price %>" readonly>
    </div>
    <div class="delete-product-form-div">
        <input type="number" name="discount" placeholder="Descuento (%) " class="delete-product-form-input" value = "<%= product.discount %>" readonly>
    </div>

    <div class="delete-product-form-div">
        <input type="number" name="stock" placeholder="Stock (unidades)" class="delete-product-form-input" value = "<%= product.stock %>" readonly>
    </div>

    <div class="delete-product-form-div">
    <img src="/images/productos/<%= product.product_image %>" alt="<%= product.product_image %>" class="edit-product-form-image">
    </div>

    <div class="delete-product-form-buttons">
        <button type="submit" class="delete-product-form-button">Eliminar producto</button>
        <a href="/products"><button type="button" class="delete-product-form-button">Cancelar</button></a>
        
    </div>
</form>

<%- include('../partials/linkWhatsApp') %>
<%- include('../partials/footer') %>