<%- include('../partials/head') %>
<%- include('../partials/header') %>

<!-- Formulario de creación de producto-->


<h3 class="edit-product-form-title">Datos del producto a editar</h3>

<form method="POST" action="/products?_method=PUT" enctype="multipart/form-data">
    <div class="edit-product-form-div">
            <input type="text" name="item" id="item" placeholder="Código del producto" class="edit-product-form-input" value="<%= locals.oldData ? oldData.item : product.product_name %>" readonly>
    </div>

    <div class="edit-product-form-div">
        <input type="text" id="description" name="description" placeholder="Descripción" class="edit-product-form-input <%= locals.errors && errors.description ? 'is-invalid' : null %>" value="<%= locals.oldData ? oldData.description : product.product_description %>">
        <% if (locals.errors && errors.description) { %>
            <i class="fas fa-exclamation"></i>
            <div class="form-error">
                <%= errors.description.msg %>
            </div>
        <% } %>
    </div>

    <div class="edit-product-form-div">
        <select name="category"  class="edit-product-form-input <%= locals.errors && errors.category ? 'is-invalid' : null %>" value="<%= locals.oldData ? oldData.category : null %>">

            <% for( let i = 0; i < productCategories.length; i++ ) { %>
                <option value="<%= productCategories[i].product_category_name %>" <%= (locals.oldData && oldData.category == productCategories[i].product_category_name || selectedProductCategory.product_category_name == productCategories[i].product_category_name) ? 'selected' : null %>>
                    <%= productCategories[i].product_category_name %>
                </option>
            <% } %>
        </select>

        <% if (locals.errors && errors.category) { %>
            <i class="fas fa-exclamation fa-exclamation-select"></i>
            <div class="form-error">
                <%= errors.category.msg %>
            </div>
        <% } %>
    </div>

    <div class="edit-product-form-div">
        <input type="text" name="price" id="price" placeholder="Precio (AR$)" class="edit-product-form-input <%= locals.errors && errors.price ? 'is-invalid' : null %>" value="<%= locals.oldData ? oldData.price : product.price %>">
        <% if (locals.errors && errors.price) { %>
            <i class="fas fa-exclamation"></i>
            <div class="form-error">
                <%= errors.price.msg %>
            </div>
        <% } %>
    </div>

    <div class="edit-product-form-div">
        <input type="text" name="discount" id="discount" placeholder="Descuento (%) " class="edit-product-form-input <%= locals.errors && errors.discount ? 'is-invalid' : null %>"  value="<%= locals.oldData ? oldData.discount : product.discount %>">
        <% if (locals.errors && errors.discount) { %>
            <i class="fas fa-exclamation"></i>
            <div class="form-error">
                <%= errors.discount.msg %>
            </div>
        <% } %>
    </div>

    <div class="edit-product-form-div">
        <input type="text" name="stock" id="stock" placeholder="Stock (unidades)" class="edit-product-form-input <%= locals.errors && errors.stock ? 'is-invalid' : null %>"  value="<%= locals.oldData ? oldData.stock : product.stock %>">
        <% if (locals.errors && errors.stock) { %>
            <i class="fas fa-exclamation"></i>
            <div class="form-error">
                <%= errors.stock.msg %>
            </div>
        <% } %>
    </div>

    <div class="edit-product-form-div">
    <img src="/images/productos/<%= locals.oldData ? oldData.image : product.product_image %>" alt="<%= locals.oldData ? oldData.item : product.product_item %>" class="edit-product-form-image">
    </div>

    <div class="edit-product-form-div">
        <input type="file" name="image" id="image" class="edit-product-form-input" >
    </div>

    <div class="edit-product-form-buttons">
        <button type="submit" class="edit-product-form-button">Guardar cambios</button>
    </div>



</form>

<%- include('../partials/linkWhatsApp') %>
<%- include('../partials/footer') %>