<%- include('../partials/head') %>
<body>
<%- include('../partials/header') %>

<h2 class="products-title">Nuestros productos</h2>

<div class="grid-products">
    <% products.forEach(product => { %>
        <div class="product">
            <a href="/products/product-detail/<%= product.product_name %> " class="product-detail-link">
                <div class="div-description">
                    <p class="description"><%= product.product_description %></p>
                </div>
                <div class="div-product-image">
                    <img src="/images/productos/<%= product.product_image %>" alt="<%= product.product_image %>" class="product-image">
                    <% if (product.stock==0) { %>
                        <div class="div-stock">
                            <p class="stock"><b>Sin stock</b></p>
                        </div>
                    <% } %>
                </div>
            </a>
            <div class="div-price-discount">
                <p class="espacio-blanco"></p>
                <p class="price">$<%= product.price %></p>
                <% if (product.discount!=0) { %>
                    <b class="discount"><%= product.discount %>% OFF</b>
                <% } %>
            </div>
            <div class="div-add-to-cart">
                <a href="/products/product-cart" class="add-to-cart">Agregar al carrito</a>
            </div>

            <div class="div-flex-edit-delete">
                <% if (locals.userLogged && locals.userLogged.user_category_id == 1) { %>
                    <div class="div-edit-product">
                        <a href="/products/edit-product/<%= product.product_name %> " class="btn-edit">Editar</a>
                    </div>
                    <div class="div-delete-product">
                        <a href="/products/delete-product/<%= product.product_name %> " class="btn-delete">Eliminar</a>
                    </div>
                <% } %>
            </div>

        </div>
    <% }) %>
</div>

<div class="div-pagination">
    <% for( let i = 0; i < allProducts.length/12; i++ ) { %>
        <input type="button" value="<%= i + 1 %>" class="btn-pagination <%= pageNumber == (i + 1) ? 'active': null%>" onclick="location.href = '/products/page<%= i+1 %>'"" >
    <% } %>    
</div>

<%- include('../partials/linkWhatsApp') %>
<%- include('../partials/footer') %>
<script src="/js/products.js"></script>
</body>
