<%- include('../partials/head') %>
<%- include('../partials/header') %>

<div class="product-div">
    <div class="product-title-div">
        <h5 class="product-title"><%= selectedProduct.product_description %></h5>
    </div>
    

    <img src="/images/productos/<%= selectedProduct.product_image %>" class="img-product-detail" alt="Producto 1">
    <div class="product-data">
        <p>Producto <%= selectedProduct.product_name %>  </p>
        <p class="Precio">$ <%= selectedProduct.price %></p>
        <button class="btn-agregar"> Agregar al carrito </button> 
    </div>

</div>        

<%- include('../partials/linkWhatsApp') %>
<%- include('../partials/footer') %>






