<%- include('../partials/head') %>
<%- include('../partials/header') %>

<h2 class="products-title">Nuestros productos</h2>

<div class="grid-products">
    <% products.forEach(product => { %>
        <div class="product">
            <a href="/products/product-detail/<%= product.item %> " class="product-detail-link">
                <div class="div-description">
                    <p class="description"><%= product.description %></p>
                </div>
                <div class="div-product-image">
                    <img src="./images/productos/<%= product.image %>" alt="" class="product-image">
                    <% if (product.stock==0) { %>
                        <div class="div-stock">
                            <p class="stock"><b>Sin stock</b></p>
                        </div>
                    <% } %>
                </div>
            </a>
            <div class="div-price-discount">
                <p class="espacio-blanco"></p>
                <p class="price">$<%= product.price %></p>
                <% if (product.discount!=0) { %>
                    <b class="discount"><%= product.discount * 100 %>% OFF</b>
                <% } %>
            </div>
            <div class="div-add-to-cart">
                <a href="/products/product-detail/<%= product.item %> " class="add-to-cart">Agregar al carrito</a>
            </div>

            <div class="div-flex-edit-delete">
                <% if (locals.userLogged && locals.userLogged.category == 'administrador') { %>
                    <div class="div-edit-product">
                        <a href="/products/edit-product/<%= product.item %> " class="btn-edit">Editar</a>
                    </div>
                    <div class="div-delete-product">
                        <a href="/products/delete-product/<%= product.item %> " class="btn-delete">Eliminar</a>
                    </div>
                <% } %>
            </div>

        </div>
    <% }) %>
</div>

<%- include('../partials/linkWhatsApp') %>
<%- include('../partials/footer') %>