<%- include('../partials/head') %>
<%- include('../partials/header') %>

<div class="div-product-not-found">
    <h4>No se encontró ningún producto con el código: <%= productItem %> </h4>
</div>

<%- include('../partials/linkWhatsApp') %>
<%- include('../partials/footer') %>






