<%- include('../partials/head') %>
<%- include('../partials/header') %>

<!-- Formulario de registro-->
<h3 class="form-title">Datos del producto a crear</h3>

<%- include('../partials/formCreateEditProduct') %>
<%- include('../partials/linkWhatsApp') %>
<%- include('../partials/footer') %>