<%- include('../partials/head') %>
<%- include('../partials/header') %>

<img src="/images/productos/<%= selectedProduct.image %>" class="img-product-detail" alt="Producto 1" > 
        <div class="informacion">
            <p>Producto <%= selectedProduct.id %>  </p>
            <p class="Precio">$ <%= selectedProduct.price %></p>
            <p>Detalle Del Producto</p>
            <button class="btn-agregar"> Agregar al carrito </button> 
        </div>
        

<%- include('../partials/linkWhatsApp') %>
<%- include('../partials/footer') %>






