<%- include('../partials/head') %>
<%- include('../partials/header') %>

<!-- Formulario de registro-->
<h3 class="register-form-title">Formulario de registro</h3>

<form action="/users/register" method="POST" name="form-register" enctype="multipart/form-data">
    <div class="register-form-div">
        
        <input type="text" name="company" placeholder="Razón Social" class="register-form-input <%= locals.errors && errors.company ? 'is-invalid' : null %>" value="<%= locals.oldData ? oldData.company : null %>">

        <% if (locals.errors && errors.company) { %>
            <i class="fas fa-exclamation"></i>
            <div class="form-error">
                <%= errors.company.msg %> 
            </div>
        <% } %>
    </div>

    <div class="register-form-div">
        <input type="text" name="cuit" class="register-form-input <%= locals.errors && errors.cuit ? 'is-invalid' : null %>" placeholder="CUIT" value="<%= locals.oldData ? oldData.cuit : null %>">
        <% if (locals.errors && errors.cuit) { %>
            <i class="fas fa-exclamation"></i>
            <div class="form-error">
                <%= errors.cuit.msg %> 
            </div>
        <% } %>
    </div>

    <div class="register-form-div">
        <select name="sector" class="register-form-input <%= locals.errors && errors.sector ? 'is-invalid' : null %>">
            <option value="default" selected>Seleccione un rubro</option>
            <option value="bazar" <%= locals.oldData && oldData.sector == 'bazar' ? 'selected' : null %>>Bazar</option>
            <option value="distribuidor" <%= locals.oldData && oldData.sector == 'distribuidor' ? 'selected' : null %>>Distribuidor</option>
            <option value="gastronomia" <%= locals.oldData && oldData.sector == 'gastronomia' ? 'selected' : null %>>Gastronomía</option>
            <option value="hoteleria" <%= locals.oldData && oldData.sector == 'hoteleria' ? 'selected' : null %>>Hotelería</option>
            <option value="otros" <%= locals.oldData && oldData.sector == 'otros' ? 'selected' : null %>>Otros</option>
        </select>
        <% if (locals.errors && errors.sector) { %>
            <i class="fas fa-exclamation fa-exclamation-select"></i>
            <div class="form-error">
                <%= errors.sector.msg %> 
            </div>
        <% } %>
    </div>

    <div class="register-form-div">
        <input type="text" name="email" class="register-form-input <%= locals.errors && errors.email ? 'is-invalid' : null %>" placeholder="Email" value="<%= locals.oldData ? oldData.email : null %>">
        <% if (locals.errors && errors.email) { %>
            <i class="fas fa-exclamation"></i>
            <div class="form-error">
                <%= errors.email.msg %> 
            </div>
        <% } %>
    </div>

    <div class="register-form-div">
        <input type="text" name="address" class="register-form-input <%= locals.errors && errors.address ? 'is-invalid' : null %>" placeholder="Domicilio" value="<%= locals.oldData ? oldData.address : null %>">
        <% if (locals.errors && errors.address) { %>
            <i class="fas fa-exclamation"></i>
            <div class="form-error">
                <%= errors.address.msg %> 
            </div>
        <% } %>
    </div>

    <div class="register-form-div">
        <input type="text" name="city" class="register-form-input <%= locals.errors && errors.city ? 'is-invalid' : null %>" placeholder="Localidad" value="<%= locals.oldData ? oldData.city : null %>">
        <% if (locals.errors && errors.city) { %>
            <i class="fas fa-exclamation"></i>
            <div class="form-error">
                <%= errors.city.msg %> 
            </div>
        <% } %>
    </div>

    <div class="register-form-div">
        <input type="text" name="phoneNumber" class="register-form-input <%= locals.errors && errors.phoneNumber ? 'is-invalid' : null %>" placeholder="Teléfono" value="<%= locals.oldData ? oldData.phoneNumber : null %>">
        <% if (locals.errors && errors.phoneNumber) { %>
            <i class="fas fa-exclamation"></i>
            <div class="form-error">
                <%= errors.phoneNumber.msg %> 
            </div>
        <% } %>
    </div>

    <div class="register-form-div">
        <input type="password" name="password" class="register-form-input <%= locals.errors && errors.password ? 'is-invalid' : null %>" placeholder="Contraseña">
        <% if (locals.errors && errors.password) { %>
            <i class="fas fa-exclamation"></i>
            <div class="form-error">
                <%= errors.password.msg %> 
            </div>
        <% } %>
    </div>

    <div class="register-form-div">
        <input type="password" name="passwordConfirmation" class="register-form-input <%= locals.errors && errors.passwordConfirmation ? 'is-invalid' : null %>" placeholder="Confirmar contraseña" >
        <% if (locals.errors && errors.passwordConfirmation) { %>
            <i class="fas fa-exclamation"></i>
            <div class="form-error">
                <%= errors.passwordConfirmation.msg %> 
            </div>
        <% } %>        
    </div>

    <div class="register-form-div">
        <input type="file" class="register-form-input" name="image">
        <% if (locals.errors && errors.image) { %>
            <i class="fas fa-exclamation"></i>
            <div class="form-error">
                <%= errors.image.msg %> 
            </div>
        <% } %>
    </div>


    <div class="register-form-buttons">
        <button type="submit" class="register-form-button">Registrarme</button>
    </div>

</form>

<%- include('../partials/linkWhatsApp') %>
<%- include('../partials/footer') %>

